.header-menu{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.header-menu__item{
    text-transform: uppercase;
    font-size:15px;
    margin-right: 40px;
}
.header-menu__item:last-child{
    margin-right: 0;
}

.header-menu__item:hover{
    color:rgba(0,0,0,.7)
}